[submodule "framework"]
	path = framework
	url = git://github.com/alari/yii-framework.git
[submodule "protected/modules/staticPages"]
	path = protected/modules/staticPages
	url = git://github.com/alari/yii-staticPages.git
[submodule "protected/extensions/i18n2ascii"]
	path = protected/extensions/i18n2ascii
	url = git://github.com/alari/yii-i18n2ascii.git
[submodule "protected/modules/imagesHolder"]
	path = protected/modules/imagesHolder
	url = git@github.com:alari/yii-imagesHolder.git
