[submodule "framework"]
	path = framework
	url = git://github.com/alari/yii-framework.git
[submodule "protected/modules/staticPages"]
	path = protected/modules/staticPages
	url = git@github.com:alari/yii-staticPages.git
[submodule "protected/extensions/i18n2ascii"]
	path = protected/extensions/i18n2ascii
	url = git@github.com:alari/yii-i18n2ascii.git
[submodule "protected/modules/imagesHolder"]
	path = protected/modules/imagesHolder
	url = git@github.com:alari/yii-imagesHolder.git
[submodule "protected/modules/user"]
	path = protected/modules/user
	url = git@github.com:alari/yii-user.git
[submodule "protected/modules/adminGen"]
	path = protected/modules/adminGen
	url = git@github.com:alari/yii-adminGen.git
[submodule "protected/extensions/giix"]
	path = protected/extensions/giix
	url = git://github.com/alari/giix.git
[submodule "protected/extensions/imagine"]
	path = protected/extensions/imagine
	url = git@github.com:alari/yii-imagine.git
[submodule "protected/modules/catalogue"]
	path = protected/modules/catalogue
	url = git@github.com:alari/yii-catalogue.git
[submodule "protected/extensions/yiiext/behaviors/activerecord-relation"]
	path = protected/extensions/yiiext/behaviors/activerecord-relation
	url = https://github.com/yiiext/activerecord-relation-behavior.git
